body *{
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
    text-align: center;
}

p {
    margin: 10px
}

body {
    background-color: rgb(234, 226, 226);
}

.block {
    width: 950px;
    background-color: rgb(255, 243, 243);
    margin: auto;
    padding: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd; 
    box-shadow: 0px 0px 5px rgba(0,0,0,0.05);
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ddd; 
    box-shadow: 0px 0px 5px rgba(0,0,0,0.05);
}

.vis-container {
    width: 100%;
    padding: 10px
}

.left-vis-container {
    width: 90%;
}

.right-vis-container {
    width: 90%;
}

h2{
    font-weight: 600;
    margin-top: 0px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd; /* Adding a border below the title */
}

h3{
    font-weight: 400;
    margin-top: 0px;
}


.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

.center {
  justify-content: center;
}

.custom-grid {
    padding: 20px;
}
